<app-main-layout
  title="Register Your Acccount"
  primaryBtnText="Create Account"
  secondaryBtnText="Cancel"
>
  <form>
    <label for="email">Name</label>
    <input id="name" type="text" placeholder="Your name..." />
    <label for="email">Email Adress</label>
    <input id="email" type="email" placeholder="ex: test@gmail.com" />
    <label for="password">Passoword</label>
    <input id="password" type="password" placeholder="Enter your password" />
    <input id="rePassword" type="password" placeholder="Repeat your password" />
  </form>
</app-main-layout>
