<app-main-layout
  title="Register Your Acccount"
  primaryBtnText="Create Account"
  secondaryBtnText="Cancel"
  (submit)="handleClickSubmitForm()"
  (navigate)="handleClickNavigate()"
  [btnDisabled]="!formCadastro.valid"
>
  <form [formGroup]="formCadastro">
    <label for="email">Name</label>
    <input
      id="name"
      type="text"
      placeholder="Your name..."
      formControlName="name"
    />
    <label for="email">Email Adress</label>
    <input
      id="email"
      type="email"
      placeholder="ex: test@gmail.com"
      formControlName="email"
    />
    <label for="password">Passoword</label>
    <input
      id="password"
      type="password"
      placeholder="Enter your password"
      formControlName="password"
    />
    <input
      id="rePassword"
      type="password"
      placeholder="Repeat your password"
      formControlName="rePassword"
    />
  </form>
</app-main-layout>
